<!-- <p>home works!</p> -->

<p-panel [toggleable]="true">
    <ng-template pTemplate="header">
        รายงาน Employee
    </ng-template>
    <button pButton type="button" (click)="addData()">เพิ่มข้อมูล</button>
    <p-table [value]="items" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>firstname</th>
                <th>lastname</th>
                <th>dateStart</th>
                <th>dateEnd</th>
                <th>##</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i>
            <tr>
                <td>{{i.firstname}}</td>
                <td>{{i.lastname}}</td>
                <td>{{i.dateStart | date}}</td>
                <td>{{i.dateEnd | date:"YYYY-MM-dd"}}</td>
                <td><button type="button" class="focus:outline-none"><i class="pi pi-pencil flex pr-3" (click)="editData(i)"></i></button> <button type="button" class="focus:outline-none"><i class="pi pi-trash flex pr-3" (click)="deletData(i)"></i></button></td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<p-panel [toggleable]="true" *ngIf="showFroms">
    <ng-template pTemplate="header">
        เพิ่ม / แก้ไขข้อมูล
    </ng-template>

    <div class="p-fluid grid">
        <div class="flex">
            <div class="flex-initial w-64 pr-1">
                <span class="p-float-label">
                    <input type="text" id="firstname" name="firstname" pInputText [(ngModel)]="firstname">
                    <label for="firstname">ชื่อ</label>
                </span>
            </div>
            <div class="flex-initial w-64 pr-1">
                <span class="p-float-label">
                    <input type="text" id="lastname" name="lastname" pInputText [(ngModel)]="lastname">
                    <label for="lastname">สกุล</label>
                </span>
            </div>
        </div>
        <div class="flex pt-3">
            <div class="flex-initial w-64 pr-1">
                <span class="p-float-label">
                    <input type="date" id="dateStart" name="dateStart" pInputText [(ngModel)]="dateStart">
                    <label for="dateStart">วันที่เริ่มต้น</label>
                </span>
            </div>
            <div class="flex-initial w-64 pr-1">
                <span class="p-float-label">
                    <input type="date" id="dateEnd" name="dateEnd" pInputText [(ngModel)]="dateEnd">
                    <label for="dateEnd">วันที่สิ้นสุด</label>
                </span>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex">
            <button pButton pRipple type="button" label="บันทึก" class="p-button-success" (click)="save()" ></button>
            <button pButton pRipple type="button" label="ยกเลิก" class="p-button-danger" (click)="cancel()" ></button>
        </div>

    </ng-template>
</p-panel>
