<!-- <p>layout works!</p> -->
<!-- <p-menubar [model]="itemsBar"></p-menubar> -->
<!-- <div class="flex">
    <div class="flex-initial w-64 ...">
    </div>
    <div class="flex-initial ...">
        <router-outlet></router-outlet>
    </div>
</div> -->


<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a href="/client/home" class="flex items-center">
          <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo" />
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Test</span>
      </a>

      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <p-menubar [model]="items"></p-menubar>
      </div>
    </div>
  </nav>
  
<!-- sidebar -->
 <!-- <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <p-menu [model]="items"></p-menu>
    </div>
 </aside> -->
 
 <div class="p-4 sm:ml-1">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <router-outlet></router-outlet>
    </div>
 </div>

 
 